
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body, html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}

#container {
    width: 100vw;
    height: 100vh;
    background: url('../Projeto-Goku/img/gokufundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: rgb(70, 17, 17); text-shadow: rgb(206, 181, 181) 0.05em 0.05em 0.2em;
    font-size: min(50px, 6vw);
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

header {
    margin: 0;
    background: url('../Projeto-Goku/img/cp2.png');
    opacity: 0.8;
    padding: 0.8%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

#infos {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem {
    width: 290px!important; 
    height: 430px!important;
}

#txt {
    color: rgb(224, 218, 218);
    text-align: center;
}

h2 {
    padding: 1rem;
    font-size: min(35px, 5vw);
    font-weight: 800;
    font-family: 'Verdana', sans-serif;
}

h3{
    padding: 1rem;
    font-size: min(25px, 4vw);
    font-weight: 800;
    font-family: 'Verdana', sans-serif;
    margin-top: 10px;
}

section#infos div#txt button {
    padding: 0.4rem;
    font-size: min(22px, 3vw);
    font-weight: 600;
    background-color: #3c3d39;
    border: 2px solid #b8b8b5;
    border-radius: 1.4rem;
    transition: all .5s ease-out;
    cursor: pointer;
    color: rgb(205, 209, 202);text-shadow: rgb(15, 2, 2) 0.05em 0.05em 0.2em;
}

section#infos div#txt button:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px px #ffffff50;
}

audio {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 18%;
    height: 25px;
    bottom: -12%;
    left: 89%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}